@font-face {
	font-family: aeonikregular;
	src: url("../fonts/aeonik-regular-webfont.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: aeonikmedium;
	src: url("../fonts/aeonik-medium-webfont.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: aeonikbold;
	src: url("../fonts/aeonik-bold-webfont.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.wc-load-banner-font {
    font-family: aeonikregular;
}

.wc-title-section {
    font-size: 2em !important;
    text-decoration: underline;
}

.wc-subtitle-section {
    font-size: 1.3em !important;
    margin: 0em;
}

.wc-moona-error {
    background: #fff;
    border: 1px solid #ccd0d4;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin: 5px 0 15px;
    padding: 1px 12px;
    border-left-color: #dc3232;
    color: #dc3232;
}


.payment-popin-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: visible;
    opacity: 1;
    z-index: 999999;
}

.payment-popin-container > div {
    margin: 70px auto;
    padding: 20px;
    background: transparent;
    border-radius: 5px;
    width: 50%;
    height: 85%;
    position: relative;
    max-width: 500px;
}

@media screen and (max-width: 650px) {
    .payment-popin-container > div {
        background: transparent;
        width: 90% !important;
        padding: 0px;
    }
}

.payment-integrated-container {
    min-width: 100%;
    height: 240px;
}

.payment-integrated-container > div {
    min-width: 100%;
    height: 240px;
}

@media screen and (max-width: 650px) {
    .payment-integrated-container {
        height: 240px;
    }

    .payment-integrated-container > div {
        height: 240px;
    }
}

.show-discount .moona-total-before-discount bdi {
    text-decoration: line-through;
}

.moona-amount {
    display: none;
    color: red;
}

.moona-sp-checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.show-discount .moona-amount {
    display: inline;
}

.show-discount .moona-amount bdi {
    color: red;
}

.widget_shopping_cart .moona-amount,
.woocommerce-cart .moona-amount,
.woocommerce-checkout .moona-amount {
    display: inline;
}

.widget_shopping_cart .moona-amount bdi,
.woocommerce-cart .moona-amount bdi,
.woocommerce-checkout .moona-amount bdi {
    display: inline;
    color: red;
}

.widget_shopping_cart .moona-total-before-discount bdi,
.woocommerce-cart .moona-total-before-discount bdi,
.woocommerce-checkout .moona-total-before-discount bdi {
    text-decoration: line-through;
}

label[for="moona-spc-input"] {
    display: inline;
}

.woocommerce-mini-cart__total {
    display: flex;
}

.woocommerce-mini-cart__total .moona-total-before-discount,
.woocommerce-mini-cart__total .moona-amount {
    margin: 0 5px;
}